<!DOCTYPE html>
<html>
<head>
	<title>DockerImageResources</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html"/>
	<link href="../css/tablecloth.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" src="../js/tablecloth.js"></script>
</head>
<body>

	<div>
		<font color="white" size="12">DockerImages Resources Summary</font> 
	</div>
	

	<div>
		<table cellspacing="0" cellpadding="0">			
			<tr>				
				<th>Name</th>
				<th>Size</th>
				<th>UsedTime</th>
				<th>CreateBy</th>
				<th>CreateTime</th>
				<th>Operations</th>
			</tr>					
		</table>
	</div>

</body>
</html>